@{
  ViewBag.Title = "Home";
}

<div class="jumbotron">
  <h1>Hi guys! Let's break it. :-)</h1>

  <h2>
    <a href="/block">/block (blocks, waits for 3 seconds)</a>
  </h2>
  <h2>
    <a href="/deadlock">/deadlock (better kill the process)</a>
  </h2>
  <h2>
    <a href="/async-await">/async-await (does not block, waits for 3 seconds)</a>
  </h2>
</div>
